<h4>Hello {{username}},</h4>
<div>
    <p>Thank you for registering on our site.</p>
    <p>Please click on the link below to verify your account</p>
    
    <p>https://ap.premium-mining.com/verify/{{permalink}}/{{vt}}</p>
    
    <p>Contact us immediately if you did not authorize this registration. Thank you</p>
</div>
