<h4>Hi {{name}},</h4>
<p>PLease click on the link below to reset your password

<a href="https://ap.premium-mining.com/recover/{{permalink}}/{{verificationtoken}}/{{email}}"><strong><u>Reset Password Now</u></strong></a>

if you did not make a request to reset your password please contact support immediately. Thank you</p>